$color-yellow: #f4e041;
$color-yellow-hover: #ffe302;
$color-black-87: #000000de;
$color-white: #fff;
$color-background: #f8f8f8;
$color-border: #d0cfcf;
$color-from-placeholder: #7e7e7e;
$color-invalid: #CB3D40;