@import './utils/mixins';
@import './utils/var';

/* Example Google Fonts import statements */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
main {
  background-color: $color-background;
}

.container {
  padding: 0 16px;

  @include onTablet {
    padding: 0 32px;
  }

  @include onDesktop {
    padding: 0 60px;    
  }

  @include onBigScreen {
    padding: 0 695px;
  }
}

.containerForBanner {
  padding: 0 16px;

  @include onTablet {
    padding: 0 32px;
  }

  @include onDesktop {
    padding: 0 60px;    
  }

  @include onBigScreen {
    padding: 0;
  }
}

.link {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}